/* ====================================
Theme RTL CSS
==================================== */
body{
  direction: rtl;
  text-align: right;
}
.select-option-part select {
  background: rgba(0, 0, 0, 0) url(qcv-arrow-down.png) no-repeat scroll left 20px center;
}
.spr-badge-starrating {
  margin: 0 0 0 10px;
}
.quickview-btn-cart {
  margin: 0 30px 0 0;
}


select{
    padding-left: 15px;
    padding-right: 0;
    background-position: 5% 50%;
}

.header-area.is-sticky{
    right: 0;
    left: auto;
}

.header-area--absolute{
    right: 0;
    left: auto;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .main-menu--separate nav > ul{
        text-align: right;
    }

    .main-menu--separate .mega-menu.four-column{
        right: -450px;
        left: auto;
    }

    .mega-menu.four-column{
        right: -200px;
        left: auto;
    }

    .hero-slider-item-wrapper--fullwidth{
        background-position-x: 50%;
    }

    .full-banner-bg-wrapper{
        background-position-x: 80%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .hero-slider-item-wrapper{
        background-position-x: 50%;
    }

    .single-widget-slider .slick-list{
        margin-left: -10px;
        margin-right: -10px;
    }

    .full-banner-two__content{
        padding-left: 40px;
        padding-right: 0;
    }

    .full-banner-bg-wrapper{
        background-position-x: 85%;
    }

    .single-slider-product--list-view__content__details{
        padding-left: 0;
        border-left: 0;
        border-right: none;
    }

    .quick-view-modal-container .modal-body{
        padding: 30px 30px 70px 30px ;
    }

    .cart-summary{
        margin-right: 0;
    }

    .cart-summary .cart-summary-button button{
        margin-left: 20px;
        margin-right: 0;
    }

    .cart-summary .cart-summary-button button:last-child{
        margin-left: 0;
    }

    .about-feature-banner .banner{
        margin-right: 0;
    }

    .feature-image img{
        margin-right: 0;
    }

}

@media only screen and (max-width: 767px){
    .hero-slider-item-wrapper--fullwidth{
        background-position-x: 75%;
    }

    .hero-slider-item-wrapper{
        background-position-x: 85%;
    }

    .full-banner-two__content{
        padding-left: 40px;
        padding-right: 0;
    }

    .full-banner-bg-wrapper{
        padding-right: 50px;
        padding-left: 0;
        background-position-x: 85%;
    }

    .cart-icon--double-slider{
        left: -25px;
        right: auto;
    }

    .single-slider-product--list-view__content__details{
        padding-left: 0;
        border-left: 0;
        border-right: none;
    }

    .quick-view-modal-container .modal-body{
        padding: 30px 30px 70px 30px ;
    }

    .cart-table .table tbody tr td{
        text-align: right;
    }

    .cart-summary{
        margin-right: 0;
    }

    .cart-summary .cart-summary-button button{
        margin-left: 10px;
        margin-right: 0;
    }

    .cart-summary .cart-summary-button button:last-child{
        margin-left: 0;
    }

    .about-feature-banner .banner{
        margin-right: 0;
    }

    .feature-image img{
        margin-right: 0;
    }

}

.header-area--absolute.is-sticky--absolute{
    right: 0;
    left: auto;
}

@media only screen and (max-width: 479px){
    .headertop-dropdown-container:first-child .extra-small-mobile-fix{
        right: 0;
        left: auto;
    }

    .hero-slider-item-wrapper{
        background-position-x: 70%;
    }

    .category-slider-wrapper-two .single-category-item__content{
        padding-right: 20px;
        padding-left: 0;
    }

    .full-banner-bg-wrapper{
        padding-right: 30px;
        padding-left: 0;
        background-position-x: 70%;
    }

    .newsletter-wrapper__form form input[type='email']{
        padding-left: 100px;
        padding-right: 0;
    }

    .quick-view-modal-container .modal-body{
        padding: 30px 15px 70px 15px ;
    }

    .blog-single-post-container .post-content blockquote{
        margin-right: 10px;
        margin-left: auto;
    }

    .shop-header__left__message{
        padding-right: 10px;
        padding-left: 0;
    }

}

.headertop-dropdown-container .header-top-single-dropdown a i{
    margin-right: 3px;
    margin-left: auto;
}

.headertop-dropdown-container .header-top-single-dropdown__dropdown-menu-items{
    left: -15%;
    right: auto;
}

.search-bar form input{
    padding: 0 20px 0 65px ;
}

.search-bar form button{
    left: 0;
    right: auto;
}

@media only screen and (max-width: 575px){
    .customer-support-text .text{
        text-align: right;
    }

    .category-slider-wrapper-two .single-category-item__content{
        padding-right: 0;
    }

    .double-slider-single-item .double-slider-single-item__content{
        padding-right: 0;
    }

    .cart-icon--double-slider{
        left: 0;
        right: auto;
    }

    .sin-rattings .ratting-author .ratting-star{
        float: right;
    }

    .single-slider-product--list-view__content__details{
        padding-right: 0;
    }

    .single-slider-product--list-view__content__actions{
        padding-right: 0;
    }

}

.header-cart-icon .small-cart-trigger{
    padding-left: 27px;
    padding-right: 8px;
}

.header-cart-icon .small-cart-trigger .cart-counter{
    right: 38px;
    left: auto;
}

.small-cart{
    left: 0;
    right: auto;
}

.small-cart-item-wrapper .single-item .remove-icon{
    left: 0;
    right: auto;
}

.small-cart-item-wrapper .single-item .content{
    padding-right: 10px;
    padding-left: 0;
    text-align: right;
}

.cart-calculation-table table tbody tr td{
    padding-left: 0;
    padding-right: 0;
}

.main-menu nav > ul > li{
    margin-left: 50px;
    margin-right: auto;
}

.main-menu nav > ul > li:last-child{
    margin-left: 0;
}

.main-menu nav > ul > li.menu-item-has-children > a::after{
    float: left;
    margin-right: 5px;
    margin-left: auto;
}

.main-menu--separate .sub-menu{
    text-align: right;
}

.main-menu--separate .mega-menu{
    text-align: right;
}

.main-menu--separate .mega-menu.four-column{
    right: -300px;
    left: auto;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px){
    .main-menu--separate .mega-menu.four-column{
        right: -300px;
        left: auto;
    }

}

.sub-menu{
    right: -20px;
    left: auto;
}

.sub-menu li.menu-item-has-children > a::after{
    float: left;
    margin-right: 5px;
    margin-left: auto;
}

.sub-menu .sub-menu{
    left: auto;
    right: 100%;
}

.sub-menu .sub-menu .sub-menu{
    left: 100%;
    right: auto;
}

.sub-menu .sub-menu .sub-menu .sub-menu{
    left: 100%;
    right: auto;
}

.mega-menu{
    right: 0;
    left: auto;
}

.mobile-menu .mean-bar{
    text-align: left;
}

.mobile-menu .mean-bar:before{
    right: 0;
    left: auto;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-bar::before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar::after{
    right: 0;
    left: auto;
}

.mobile-menu .mean-bar .meanmenu-reveal span.menu-close::before, .mobile-menu .mean-bar .meanmenu-reveal span.menu-close::after{
    right: 0;
    left: auto;
}

.mobile-menu .mean-bar .meanmenu-reveal span.mean-menu-text{
    right: 0;
    left: auto;
}

.mobile-menu .mean-bar .meanmenu-reveal span.mean-menu-text i{
    margin-left: 5px;
    margin-right: auto;
}

.mobile-menu .mean-bar .mean-nav{
    text-align: right;
}

.mobile-menu .mean-bar .mean-nav > ul li{
    float: right;
}

.mobile-menu .mean-bar .mean-nav > ul li a{
    padding: 0 20px 0 40px ;
}

.mobile-menu .mean-bar .mean-nav > ul li a:hover{
    padding-right: 25px;
    padding-left: 0;
}

.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand{
    left: -1px;
    right: auto;
}

.mobile-menu .mean-bar .mean-nav > ul li .sub-menu, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu, .mobile-menu .mean-bar .mean-nav > ul li ul{
    float: right;
}

.mobile-menu .mean-bar .mean-nav > ul li .sub-menu li, .mobile-menu .mean-bar .mean-nav > ul li .mega-menu li, .mobile-menu .mean-bar .mean-nav > ul li ul li{
    float: right;
    border-left: 0 solid transparent;
    border-right: none;
}

.page-wrapper-light-green .search-bar form button{
    border-top-left-radius: 5px;
    border-top-right-radius: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: none;
}

.page-wrapper-blue .search-bar form button{
    border-top-left-radius: 5px;
    border-top-right-radius: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: none;
}

.footer-social-icon-block ul li{
    margin-left: 7px;
    margin-right: auto;
}

.footer-social-icon-block ul li:last-child{
    margin-left: 0;
}

.sidebar-widget > ul li.has-children > ul{
    padding-right: 15px;
    padding-left: 0;
}

.sidebar-filter-group a{
    padding-right: 21px;
    padding-left: 0;
}

.sidebar-filter-group a:before{
    right: 0;
    left: auto;
}

.sidebar-filter-group a span{
    float: left;
}

.sidebar-filter-group-color a{
    padding-right: 21px;
    padding-left: 0;
}

.sidebar-filter-group-color a:before{
    right: 0;
    left: auto;
}

.sidebar-filter-group-color a span{
    margin-right: 2px;
    margin-left: auto;
}

.tag-container li{
    margin-left: 5px;
    margin-right: auto;
}

.sidebar-search-box input{
    padding-right: 10px;
    padding-left: 0;
}

.sidebar-search-box button{
    left: 0;
    right: auto;
}

.single-block .image{
    margin-left: 5px;
    margin-right: auto;
}

.tag-container > li{
    margin-left: 5px;
    margin-right: auto;
}

.social-link-small li{
    margin-left: 20px;
    margin-right: auto;
}

.social-link-small li:last-child{
    margin-left: 0;
}

.compare-button a i, .wishlist-button a i{
    margin-left: 5px;
    margin-right: auto;
}

a.scroll-top{
    left: 30px;
    right: auto;
}

.search-overlay{
    right: 0;
    left: auto;
}

.search-form{
    right: 50%;
    left: auto;
}

.search-form form input{
    padding: 0 15px 0 50px ;
}

.search-form form button{
    left: 0;
    right: auto;
}

.close-search-overlay{
    left: 30px;
    right: auto;
}

.ht-slick-slider .slick-arrow {
	left: 40px;
	right: auto;
}
.ht-slick-slider .slick-arrow.slick-prev {
	left: 0;
	right: auto;
}

.hero-slider-wrapper .slick-dots li button{
    margin-left: 10px;
    margin-right: auto;
}

.hero-slider-wrapper .slick-dots li:last-child button{
    margin-left: 0;
}

.hero-slider-item-wrapper{
    background-position: center left;
}

.blog-post-slider-wrapper .slider-single-post__content{
    padding: 12px 20px 15px 20px ;
}

.blog-post-slider-wrapper .slider-single-post__content .post-meta .author-name{
    margin-left: 14px;
    margin-right: auto;
}

.blog-post-slider-wrapper .slider-single-post__content .post-meta .author-name:after{
    left: -10px;
    right: auto;
}

.single-footer-blog-post__content{
    padding-right: 10px;
    padding-left: 0;
}

.single-footer-blog-post__content .blog-post-meta .author-name{
    margin-left: 14px;
    margin-right: auto;
}

.single-footer-blog-post__content .blog-post-meta .author-name:after{
    left: -10px;
    right: auto;
}

.instagram-image-slider-wrapper .single-instagram-image a:before{
    right: 0;
    left: auto;
}
.category-slider-wrapper-one .slick-list{
    margin-left: -10px;
    margin-right: -10px;
}

.category-slider-wrapper-two .slick-list{
    margin-left: -10px;
    margin-right: -10px;
}

.category-slider-wrapper-two .single-category-item__content{
    padding-right: 20px;
    padding-left: 0;
}

.product-single-row-slider-wrapper .slick-list{
    margin-left: -10px;
    margin-right: -10px;
}

.product-double-row-slider-wrapper .slick-list{
    margin-left: -10px;
    margin-right: -10px;
}

.product-single-row-double-slider-wrapper .slick-list{
    margin-left: -10px;
    margin-right: -10px;
}

.double-slider-single-item__content{
    padding-right: 20px;
    padding-left: 0;
}

.double-slider-single-item:hover .hover-icons{
    left: 15px;
    right: auto;
}

.small-image-slider-wrapper .slick-arrow.slick-next {
	left: auto;
	right: -25px;
}

.small-image-slider-wrapper .slick-arrow.slick-prev {
	left: -25px;
	right: auto;
}

.small-image-slider-wrapper .slick-list{
    margin-left: -5px;
    margin-right: -5px;
}

.small-image-slider-wrapper--quickview .slick-arrow.slick-prev{
    right: -40px;
    left: auto;
}

.small-image-slider-wrapper--quickview .slick-arrow.slick-next{
    left: -40px;
    right: auto;
}

.small-image-slider-wrapper--side-style .slick-arrow.slick-prev{
    left: auto;
    right: 50%;
}

.small-image-slider-wrapper--side-style .slick-arrow.slick-next{
    left: auto;
    right: 50%;
}

.big-image-slider-wrapper--slider-mode .big-image-box-slider{
    padding-left: 50px;
    padding-right: 50px;
}

.big-image-slider-wrapper--slider-mode .slick-arrow.slick-next{
    left: 0;
    right: auto;
}

.big-image-slider-wrapper--slider-mode .slick-arrow.slick-prev{
    left: auto;
    right: 0;
}

.big-image-slider-wrapper--slider-mode .slick-list{
    margin-left: -10px;
    margin-right: -10px;
}

.page-wrapper-light-green .ht-slick-slider .slick-arrow.slick-prev{
    left: 40px;
    right: auto;
}

.page-wrapper-blue .ht-slick-slider .slick-arrow.slick-prev{
    left: 40px;
    right: auto;
}

.page-wrapper-red .ht-slick-slider .slick-arrow.slick-prev{
    left: 40px;
    right: auto;
}

.single-split-banner__image__content{
    padding-right: 40px;
    padding-left: 0;
}

.full-banner-bg-wrapper{
    padding-right: 70px;
    padding-left: 0;
    background-position: center left;
}

.single-icon-feature{
    padding-right: 75px;
    padding-left: 0;
}

.single-icon-feature--product-details{
    padding-right: 50px;
    padding-left: 0;
}

.single-icon-feature__icon{
    right: 0;
    left: auto;
}

.section-title h2:after{
    right: 0;
    left: auto;
}
.newsletter-wrapper__form form input[type="email"] {
	padding-right: 10px;
	text-align: right;
}

.newsletter-wrapper__form form button{
    left: -1px;
    right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: none;
}

.newsletter-popup-area:after{
    right: 0;
    left: auto;
}

.newsletter-popup-content{
    right: 50%;
    left: auto;
}

.newsletter-popup-content .close-newsletter-popup{
    left: 0;
    right: auto;
}

.newsletter-popup-content .subscription-form form input{
    background: #ebebeb none repeat scroll right  0;
}

.product-price .discounted-price{
    margin-left: 10px;
    margin-right: auto;
}

.discount-label {
	left: auto;
	right: 20px;
	padding-right: 20px;
	padding-left: 0;
	background-position: right center;
}

.hover-icons{
    left: 0;
    right: auto;
}

.cart-icon{
    left: 15px;
    right: auto;
}

.cart-icon--double-slider{
    left: -20px;
    right: auto;
}

.single-widget-product__content{
    padding-right: 20px;
    padding-left: 0;
}

.single-slider-product__image > a img:nth-child(2){
    right: 0;
    left: auto;
}

.single-slider-product__content{
    padding: 17px 20px 16px 20px ;
    text-align: right;
}

.single-slider-product:hover .hover-icons{
    left: 15px;
    right: auto;
}

.pro-qty input{
    padding-left: 25px;
    padding-right: 20px;
}

.pro-qty a.inc{
    left: 0;
    right: auto;
    border-right: 1px solid #ddd;
    border-left: none;
}

.pro-qty a.dec{
    left: 0;
    right: auto;
    border-right: 1px solid #ddd;
    border-left: none;
}

.color span.color-block{
    margin-left: 5px;
    margin-right: auto;
}

.group-product-form .table-content table{
    border-width: 1px 1px 0 0 ;
    background: #fff none repeat scroll right  0;
}

.group-product-form .table-content table td{
    border-left: 1px solid #e5e5e5;
    border-right: none;
}

.social-share-buttons ul li{
    margin-left: 5px;
    margin-right: auto;
}

@media only screen and (max-width: 479px) and (max-width: 479px){
    .product-description-review-container nav .nav-tabs .nav-link{
        border-left: 1px solid #ebebeb !important;
        border-right: none;
    }

    .product-description-review-container nav .nav-tabs .nav-link:last-child{
        border-left: none !important;
        border-right: none;
    }

}

.product-description-review-container nav .nav-tabs a.nav-link{
    margin-left: 50px;
    margin-right: auto;
}

.product-description-review-container nav .nav-tabs a:last-child{
    margin-left: 0;
}

.pro-avg-ratting{
    float: right;
}

.ratting-list{
    float: right;
}

.ratting-list .sin-list{
    margin-left: 30px;
    margin-right: auto;
}

.ratting-list .sin-list:last-child{
    margin-left: 0;
}

.rattings-wrapper{
    float: right;
}

.sin-rattings .ratting-author{
    float: right;
}

.sin-rattings .ratting-author h3{
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

.sin-rattings .ratting-author .ratting-star i, .sin-rattings .ratting-author .ratting-star span{
    float: right;
}

.sin-rattings .ratting-author .ratting-star span{
    margin-right: 5px;
    margin-left: auto;
}

.ratting-form-wrapper{
    float: right;
}

.ratting-form h5{
    float: right;
    margin-left: 10px;
    margin-right: auto;
}

.ratting-form .ratting-star i{
    float: right;
    margin-left: 3px;
    margin-right: auto;
}

.single-slider-product--list-view__content__details{
    border-left: 1px solid #f0f0f0;
    border-right: none;
}

.single-slider-product--list-view__content__actions{
    padding: 15px 20px 0 0 ;
}

.counter-deal{
    left: 127px;
    right: auto;
}

.counter-deal .deal-countdown{
    margin-right: 15px;
    margin-left: auto;
}

.quick-view-modal-container .modal-body{
    padding: 30px 50px 70px 50px ;
}

.breadcrumb-content ul li{
    margin-left: 20px;
    margin-right: auto;
}

.breadcrumb-content ul li.has-child:before{
    left: -15px;
    right: auto;
}

.breadcrumb-content ul li:last-child{
    margin-left: 0;
}

.cart-summary{
    float: left;
    margin-right: auto;
    margin-left: auto;
}

.cart-summary .cart-summary-wrap p span{
    float: left;
}

.cart-summary .cart-summary-wrap h2 span{
    float: left;
}

.cart-summary .cart-summary-button button{
    float: left;
    margin-right: 20px;
    margin-left: auto;
}

.cart-summary .cart-summary-button button:last-child{
    margin-right: 0;
}

.checkout-form .nice-select::after{
    left: 20px;
    right: auto;
}

.checkout-form .check-box{
    float: right;
    margin-left: 70px;
    margin-right: auto;
}

.checkout-form .check-box:last-child{
    margin-left: 0;
}

.checkout-form .check-box input[type='checkbox'] + label{
    padding-right: 30px;
    padding-left: 0;
}

.checkout-form .check-box input[type='checkbox'] + label::before{
    right: 0;
    left: auto;
}

.checkout-form .check-box input[type='checkbox'] + label::after{
    right: 0;
    left: auto;
}

.checkout-cart-total h4 span{
    float: left;
}

.checkout-cart-total ul li span{
    float: left;
}

.checkout-cart-total p span{
    float: left;
}

.single-method input[type='radio'] + label{
    padding-right: 30px;
    padding-left: 0;
}

.single-method input[type='radio'] + label::before{
    right: 0;
    left: auto;
}

.single-method input[type='radio'] + label::after{
    right: 5px;
    left: auto;
}

.single-method input[type='checkbox'] + label{
    padding-right: 30px;
    padding-left: 0;
}

.single-method input[type='checkbox'] + label::before{
    right: 0;
    left: auto;
}

.single-method input[type='checkbox'] + label::after{
    right: 4px;
    left: auto;
}

.place-order{
    float: right;
}

.myaccount-content a.edit-address-btn i{
    padding-left: 5px;
    padding-right: 0;
}

.saved-message{
    border-radius: 5px 5px 0 0;
}

.login-form .nice-select::after{
    left: 20px;
    right: auto;
}

.login-form .check-box{
    float: right;
    margin-left: 70px;
    margin-right: auto;
}

.login-form .check-box:last-child{
    margin-left: 0;
}

.login-form .check-box input[type='checkbox'] + label{
    padding-right: 30px;
    padding-left: 0;
}

.login-form .check-box input[type='checkbox'] + label::before{
    right: 0;
    left: auto;
}

.login-form .check-box input[type='checkbox'] + label::after{
    right: 0;
    left: auto;
}

.register-button{
    float: right;
}

.faq-wrapper .card-header h5 button{
    text-align: right;
}

.faq-wrapper .card-header h5 button span{
    left: 10px;
    right: auto;
}

.compare-table .table tbody tr td{
    border-right: 1px solid #eee;
    border-left: none;
}

.compare-table .table tbody tr td:last-child{
    border-left: 1px solid #eee;
    border-right: none;
}

.compare-table .table tbody tr td.pro-desc p{
    text-align: right;
}

.compare-table .table tbody tr td.pro-addtocart .add-to-cart{
    padding: 10px 25px 10px 25px ;
}

.compare-table .table tbody tr td.pro-addtocart .add-to-cart i.fa{
    padding-left: 10px;
    padding-right: 0;
}

.single-contact-block h4 img{
    margin: 5px 0 20px 20px ;
}

.contact-form input{
    padding-right: 20px;
    padding-left: 0;
}

.contact-form textarea{
    padding-right: 20px;
    padding-left: 0;
}

.about-feature-banner .banner{
    margin-right: 70px;
    margin-left: auto;
}

.feature-image::before{
    left: 0;
    right: auto;
}

.feature-image img{
    margin-right: -40px;
    margin-left: auto;
}

.blog-post-slider-container .single-blog-post .content p span.post-comments{
    margin-left: 15px;
    margin-right: auto;
}

.single-blog-post.gallery-type-post .single-blog-post-media:hover .slick-next{
    left: 10px;
    right: auto;
}

.single-blog-post.gallery-type-post .single-blog-post-media:hover .slick-prev{
    right: 10px;
    left: auto;
}

.single-blog-post.gallery-type-post .slick-next{
    left: 30px;
    right: auto;
}

.single-blog-post.gallery-type-post .slick-prev{
    left: auto;
    right: 30px;
}

.single-blog-post .single-blog-post-media .blog-categories{
    right: 10px;
    left: auto;
}

.single-blog-post .single-blog-post-media .blog-categories ul li a{
    margin-left: 5px;
    margin-right: auto;
}

.single-blog-post .single-blog-post-content h3.post-title.sticky{
    padding-right: 25px;
    padding-left: 0;
}

.single-blog-post .single-blog-post-content h3.post-title.sticky:before{
    right: 0;
    left: auto;
}

.single-blog-post .single-blog-post-content .post-meta p span i.fa{
    margin-left: 5px;
    margin-right: auto;
}

.blog-single-post-container .single-blog-post-media .blog-categories{
    right: 10px;
    left: auto;
}

.blog-single-post-container .single-blog-post-media .blog-categories ul li a{
    margin-left: 5px;
    margin-right: auto;
}

.blog-single-post-container .post-content blockquote{
    margin: 40px 40px 40px 0 ;
    border-right: 5px solid #3a9943;
    border-left: none;
}

.blog-single-post-container .social-share-buttons ul li a{
    margin-left: 10px;
    margin-right: auto;
}

.single-blog-post-media:hover .slick-next{
    left: 10px;
    right: auto;
}

.single-blog-post-media:hover .slick-prev{
    right: 10px;
    left: auto;
}

.single-blog-post-media .slick-next{
    left: 30px;
    right: auto;
}

.single-blog-post-media .slick-prev{
    left: auto;
    right: 30px;
}

.comment-container .single-comment.reply-comment{
    margin-right: 10%;
    margin-left: auto;
}

.comment-container .single-comment span.reply-btn{
    left: 30px;
    right: auto;
}

.comment-container .single-comment .content{
    margin-right: 20px;
    margin-left: auto;
}

.shop-header__left__message{
    float: right;
}

.shop-header__right{
    padding-right: 10px;
    padding-left: 0;
}

.shop-header__right .single-select-block .select-title{
    margin-left: 10px;
    margin-right: auto;
}

.shop-header__right .single-select-block select{
    padding-right: 10px;
    padding-left: 0;
}

.grid-icons{
    float: right;
}

.grid-icons button{
    float: right;
}



/* ====================================
custom CSS
==================================== */

#quickViewModal .close{
    left: 10px;
    right: auto;
}

.discount-label.discount-label--green.new-title{
    left: 0;
    right: auto;
}

.count_down_wrapper{
    right: 5px;
    left: 5px;
}

.product_ratting .spr-badge-starrating .spr-icon{
    margin-left: 3px;
    margin-right: auto;
}

.sidebar-widget.search button{
    left: 10px;
    right: auto;
    border-right: 1px solid #ccc;
    border-left: none;
    padding-right: 10px;
    padding-left: 0;
}

.breadcrumb-content li a{
    margin-left: 20px;
    margin-right: auto;
}

.breadcrumb-content li a::before{
    left: -10px;
    right: auto;
}

.breadcrumb-content .breadcrumb-list li + li{
    padding-right: 0;
}

.breadcrumb-content a, .breadcrumb-content span{
    margin-left: 0;
}

.breadcrumb-content ul li{
    margin-left: 0;
}

.headertop-dropdown-container .header-top-single-dropdown.currency > a::before{
    left: 0;
    right: auto;
}

.headertop-dropdown-container .header-top-single-dropdown.currency{
    padding-left: 20px;
    padding-right: 0;
}

.rating .spr-badge-caption{
    margin-right: 10px;
    margin-left: auto;
}

.rating .spr-icon.spr-icon-star, .rating .spr-icon.spr-icon-star-empty{
    padding-left: 3px;
    padding-right: 0;
}

.product-detail-content input.cart-plus-minus-box{
    padding-left: 10px;
    padding-right: 0;
}

.product-detail-content .go-to-wishlist{
    margin-right: 15px;
    margin-left: auto;
}

.swatch-element.soldout label::before, .swatch-element.soldout label::after{
    right: 45%;
    left: auto;
}

.wishlist-item .action-wishlist i{
    margin-left: 5px;
    margin-right: auto;
}

.product-details-area .discount-label.discount-label--green.new-title{
    left: 20px;
    right: auto;
}

.cart-table table tbody tr td.pro-quantity .product-quantity input{
    padding-left: 0;
}


.hero-slider-content.pl-60 {
	padding-left: 0 !important;
	padding-right: 60px !important;
}
.ajax-popup .modal-content-text i {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.ajax-popup .modal-button {
	float: right;
}
.popup-image {
	margin-right: 0;
	margin-left: 20px;
}
.page-section .offset-lg-2 {
	margin-right: 16.666667%;
}

.text-md-right {
	text-align: left !important;
}
.text-md-left {
	text-align: right !important;
}

.collection-shorting select {
	background: none;
}

.collection-shorting .mr-50 {
	margin-left: 50px !important;
}
.single-product-active {
	direction: ltr;
}
.swatch .header {
	float: right;
}
.swatch .swatch-element {
	float: right;
}
.single-icon-feature--product-details:first-child {
	margin: auto !important;
}
.sidebar-widget dd {
	margin-right: 0;
}
.text-right.shopping-cart__total {
	text-align: left !important;
}
.cart-calculation-table table tbody tr td.text-left {
	text-align: right !important;
}
.navigation-top-topbar .offset-lg-4 {
	margin-right: 33.333333%;
	margin-left: 0;
}
.sub-menu li.menu-item-has-children > a::after {
	transform: rotate(180deg);
}
.header-top-social-links .mr-15 {
	margin-left: 15px !important;
}
.page-search-bar input {
	padding-right: 110px;
}
.search-page .offset-lg-2 {
	margin-right: 16.666667%;
}


/* ====================================
Theme RTL responsive CSS
==================================== */

/* Large screen desktop */
@media (min-width: 1365px) and (max-width: 1500px){

}

@media (min-width: 1200px) and (max-width: 1299px){

}

@media (min-width: 1170px) and (max-width: 1299px){

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .discount-label {
    right: 0;
  }


}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  
.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand {
	padding-right: 0;
}
.full-banner-two__content {
	padding-right: 40px;
}
.page-section .offset-lg-2 {
	margin-right: auto;
}
.search-page .offset-lg-2 {
	margin-right: 0;
}
  
  
}

/* Small and large mobile :320px. */
@media (max-width: 767px) {

  .full-banner-two__content {
    padding-right: 40px;
  }
  .page-section .offset-lg-2 {
    margin-right: 0;
  }
  .full-banner-bg-wrapper {
    padding-right: 30px;
  }
  .hero-slider-content.pl-60 {
    padding-right: 30px !important;
  }
  .cart-icon--double-slider {
    left: -10px;
  }
  .navigation-top-topbar .text-md-left {
    text-align: center !important;
  }
  .navigation-top-topbar .offset-lg-4 {
    margin-left: 0;
  }
  .search-page .offset-lg-2 {
    margin-right: 0;
  }
  .mobile-menu .mean-bar .mean-nav > ul li a.mean-expand {
    padding-right: 0;
}
  .small-cart-item-wrapper .single-item .remove-icon {
	left: -15px;
}

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  
}